<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="SearchView" type="BrokersWeb.SearchView.SearchViewConfigurationSection, BrokersWeb.SearchView" />
    <section name="BidRank" type="BrokersWeb.SuperBid.Service.SuperBidConfiguration,  BrokersWeb.SuperBid.Service" />
    <section name="SearchCache" type="BrokersWeb.Search.SearchCacheConfiguration,  BrokersWeb.Search.Service" />
    <section name="Facade" type="BrokersWeb.App.FacadeConfig, BrokersWeb.App.Facade" />
    <section name="ABTesting" type="BrokersWeb.App.ABTesting.ABTestingConfiguration, App.ABTesting" />
    <sectionGroup name="enyim.com">
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="AdvertiserDiscountAdjustment" type="BrokersWeb.AdvertiserDiscountAdjustment.Core.AdvertiserDiscountAdjustmentConfiguration, BrokersWeb.AdvertiserDiscountAdjustment.Core" />
    <section name="extraparams" type="BrokersWeb.SearchView.ExtraParamsConfig, BrokersWeb.SearchView" />
    <section name="extraarguments" type="BrokersWeb.App.ExtraArguments.ExtraArgumentsConfig, BrokersWeb.App.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="ElasticSearch" type="Common.ElasticSearch.ElasticSearchConfigurationSection,  Common.ElasticSearch" />
    <section name="forwardparameters" type="BrokersWeb.EnhancedClick.Core.ForwardParametersConfig, BrokersWeb.EnhancedClick.Core, Version=1.0.0.0, Culture=neutral" />
    <section name="MortechHandler" type="BrokersWeb.Mortgage.WebApi.MortechConfig, BrokersWeb.Mortgage.WebApi, Version=1.0.0.0, Culture=neutral" />
    <section name="LendingQbHandler" type="BrokersWeb.Mortgage.WebApi.LendingQbConfig, BrokersWeb.Mortgage.WebApi, Version=1.0.0.0, Culture=neutral" />
    <section name="MortgageHandler" type="BrokersWeb.Mortgage.Core.MortgageConfig, BrokersWeb.Mortgage.Core, Version=1.0.0.0, Culture=neutral" />
    <section name="mortgageParameters" type="BrokersWeb.Mortgage.Core.MortgageParametersConfigurationSection, BrokersWeb.Mortgage.Core, Version=1.0.0.0, Culture=neutral" />
    <section name="icp" type="BrokersWeb.Icp.Core.IcpConfig, BrokersWeb.Icp.Core, Version=1.0.0.0, Culture=neutral" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="adsuppression" type="BrokersWeb.AdSuppression.Core.Config, BrokersWeb.AdSuppression.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <ElasticSearch>
    <Hosts>
      <add ConnectionName="bw_sessions" Host="es.stg1.vm.local" Port="9200" DefaultIndex="bwsessions" RefreshAfterIndex="false" />
      <add ConnectionName="bw_enhancedclick" Host="es.stg1.vm.local" Port="9200" DefaultIndex="bwenhancedclick" RefreshAfterIndex="false" />
    </Hosts>
  </ElasticSearch>
  <!-- enterprise patterns library cache application block  -->
  <cachingConfiguration defaultCacheManager="InProcCache">
    <cacheManagers>
      <add name="InProcCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="1000" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <enyim.com>
    <log factory="Enyim.Caching.Log4NetFactory, Enyim.Caching.Log4NetAdapter" />
    <memcached protocol="Binary">
      <servers>
        <add address="mc.stg1.vm.local" port="11211" />
      </servers>
      <keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching" />
      <socketPool minPoolSize="2" maxPoolSize="10" connectionTimeout="00:00:05" deadTimeout="00:00:10" />
    </memcached>
  </enyim.com>
  <BidRank SuperBidCacheTTLMinutes="10" cacheProducts="1440" />
  <SearchCache DisplayListingsTTL="10" ActiveListingsTTL="10" />
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\inetpub\logs\BWAppLogs\SearchApi\searchapi-log-[%processid].txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="cp-stg1@vantagemedia.com" />
      <from value="no-reply@brokersweb.com" />
      <subject value="SEARCHAPI-stg1-ERROR" />
      <smtpHost value="10.1.16.39" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{log4net:HostName} [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <!--
	<logger name="NHibernate.SQL" additivity="false">
		<level value="TRACE"/>
		<appender-ref ref="FileAppender"/>
	</logger>

	<logger name="SearchApi.Log" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="FileAppender"/>
	</logger>	
	-->
  </log4net>
  <!-- Application settings -->
  <appSettings>
    <!--IP2Location module global settings -->
    <add key="CookieExpiry" value="4" />
    <!-- list of affiliate IDs allowed to use jListings -->
    <!-- Settings for Super Bid Icons -->
    <add key="RulesExpirationTime" value="10" />
    <add key="IconsExpirationTime" value="60" />
    <add key="TypeBCacheExpirationTime" value="30" />
    <add key="ExcludedFactorsInIcons" value="1, 7" />
    <add key="IconsDomainPage" value="http://y.brokersweb.com" />
    <add key="PricingService-CacheDurationInMinutes" value="10" />
    <add key="SearchViewDao-StateHelper-CacheTTL" value="180" />
    <add key="SearchViewDao-ProductHelperDao-CacheTTL" value="60" />
    <add key="SearchViewDao-MaskedDomainDao-CacheTTL" value="60" />
    <add key="SearchViewDao-AffiliateReferralDao-CacheTTL" value="60" />
    <add key="ExtraFields" value="10" />
    <add key="ExclusionRules" value="30" />
    <!-- 
	<add key="Caching-Cache-Service" value="memcached"/>
	<add key="Caching-Cache-Service" value="entlib"/>
	<add key="Caching-Cache-Service" value="mixed"/>  entlib + memcached
	<add key="Caching-Cache-Service" value="appfabric"/>
	-->
    <add key="Caching-Cache-Service" value="mixed" />
    <add key="Caching-Default-TTL" value="30" />
    <!-- 
			<add key="Caching-Cache-Service" value="memcached"/>
			<add key="Caching-Cache-Service" value="entlib"/>
			<add key="Caching-Cache-Service" value="mixed"/>  entlib + memcached
			<add key="Caching-Cache-Service" value="appfabric"/>
		-->
    <add key="Caching-Cache-Service" value="mixed" />
    <add key="Caching-Default-TTL" value="30" />
    <!-- 
			<add key="AsyncUnitOfWork-AsyncMethod" value="task"/>    
			<add key="AsyncUnitOfWork-AsyncMethod" value="threadpool"/>    
			<add key="AsyncUnitOfWork-AsyncMethod" value="smartthreadpool"/>    
		-->
    <add key="AsyncUnitOfWork-AsyncMethod" value="task" />
    <!-- ListingJson2Service Cache Configuration -->
    <add key="ListingJson2Service-TTL" value="239" />
    <!-- Configure ListingFiltersByZipcode Data Loader
		
			option 1: the original data loader on this class
			<add key="ListingFiltersByZipcode-DataLoad-Service-TTL" value="OriginalDataLoader"/>
			
			option 2: refactored data loader with better query
			<add key="ListingFiltersByZipcode-DataLoad-Service-TTL" value="EnhacedQueryDataLoader"/>
			
			option 3: refactored data loader with better queries and capable to work with data from CacheWarmUpService to avoid query to database at all. 
			<add key="ListingFiltersByZipcode-DataLoad-Service-TTL" value="GroupedCacheDataLoader"/>        
		-->
    <add key="ListingFiltersByZipcode-DataLoad-Service-TTL" value="GroupedCacheDataLoader" />
  </appSettings>
  <connectionStrings>
    <add name="apilog" connectionString="server=cpdb-a01-stg1.vm.local;database=search_api_logs;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="appexnet" connectionString="server=cpdb-a01-stg1.vm.local;database=appexnet_searcher;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="ClickHandlerRead" connectionString="server=cpdb-a01-stg1.vm.local;database=appexnet_searcher;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="ClickPriceCalculator" connectionString="server=cpdb-a01-stg1.vm.local;database=appexnet_searcher;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="legacyApplicationDb" connectionString="Data Source=cpdb-a01-stg1.vm.local;Initial Catalog=appexnet_searcher;User Id=appexnet;Password=V4nt4G3M3d!4;enlist=false;MultipleActiveResultSets=true;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="mortgage" connectionString="server=cpdb-a01-stg1.vm.local;database=appexnet_searcher;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="DynamicTransformation" connectionString="server=cpdb-a01-stg1.vm.local;database=appexnet_searcher;UID=appexnet;pwd=V4nt4G3M3d!4;pooling=true;Min Pool Size=5; Max Pool Size=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- SearchView configuration-->
  <SearchView MainAffiliate="10002" MinMaxAds="2" TotalMaxAds="100">
    <!-- Paths configuration -->
    <Paths basepath="http://y.brokersweb.com/" listingLogoPath="//cdn.bwcdn.net/logos/" listingPreviewPath="//cdn.bwcdn.net/thumbnails/" outboundClickPath="/outbound/www.healthinsurancefinders.com/HealthInsuranceList.aspx" />
    <!-- Carriers configuration -->
    <!-- Order Type options : asc, desc, rand -->
    <Carriers imagesPath="//cdn.bwcdn.net/carriers/" orderType="rand" />
  </SearchView>
  <!-- Facade configurations -->
  <Facade DefaultClickDomain="searcher.stg1.vm.local" DefaultClickProtocol="http://" MainAffiliateId="10002" EnableClickRedirect="true" XmlApiEnabledIp="192.168.10.193,192.168.10.146,192.168.10.182,192.168.10.194,192.168.10.147,192.168.10.101,174.143.77.193,174.143.77.194,98.129.78.101,174.143.92.150,192.168.10.150" />
  <castle>
    <facilities>
      <facility id="rhino.owb">
        <messages>
          <add name="BrokersWeb.Common.Messages.Tracking" endpoint="msmq://10.1.16.232/tracking_processor" />
          <add name="BrokersWeb.Common.Messages.Conversion" endpoint="msmq://10.1.16.232/tracking_processor" />
          <add name="BrokersWeb.Common.Messages.SuperBid" endpoint="msmq://10.1.16.232/superbid_processor" />
        </messages>
      </facility>
    </facilities>
  </castle>
  <!-- AB Testing Settings -->
  <ABTesting TimeInterval="5" NumberOfOptions="2" />
  <system.web>
    <compilation debug="false" />
    <httpRuntime maxUrlLength="4096" maxQueryStringLength="4096" maxRequestLength="4096" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UserSession" />
      <remove name="PerRequestLifestyle" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="UserSession" type="BrokersWeb.App.Bootstrappers.SessionModule" preCondition="managedHandler" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Hide .svc extension for apis" stopProcessing="false">
          <match url="^SearchApiAwl/xmldata(.*)" />
          <action type="Rewrite" url="SearchApiAwl.svc/xmldata" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite for APS service">
          <match url="^SearchApiAps/(.*)" />
          <action type="Rewrite" url="SearchApiAps.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for YAUTO service">
          <match url="^SearchApiYAUTO/(.*)" />
          <action type="Rewrite" url="SearchApiYAUTO.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for YEDU service">
          <match url="^SearchApiYEDU/(.*)" />
          <action type="Rewrite" url="SearchApiYEDU.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for Mortgage service">
          <match url="^SearchApiMortgage/(.*)" />
          <action type="Rewrite" url="SearchApiMortgage.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for ICP service">
          <match url="^SearchApiICP/(.*)" />
          <action type="Rewrite" url="SearchApiICP.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for legacy service">
          <match url="^aff/AffXMLListing.aspx(.*)" />
          <action type="Rewrite" url="SearchApiLegacy.svc/" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
        <rule name="Rewrite for legacy service with SB" stopProcessing="true">
          <match url="^aff/AffXMLListingSb.aspx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="SearchApiLegacy.svc/?{C:1}&amp;sb=1" appendQueryString="false" logRewrittenUrl="true" />
        </rule>
        <rule name="acquisition conversion page">
          <match url="acquisition/conversion/([0-9]+)/?" />
          <action type="Rewrite" url="/aff/AcquisitionPixel.aspx?advertiserId={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <AdvertiserDiscountAdjustment CacheTime="10" />
  <extraparams default="vminquiryid">
    <parameters>
      <add name="vmUuInquiryId" id="1" />
      <add name="vtp" id="2" />
    </parameters>
  </extraparams>
  <extraarguments>
    <parameters>
      <add name="svkid" key="bw_svkid" />
      <add name="usid" key="bw_usid" />
      <add name="fwapsfirstname" key="bw_firstname" />
      <add name="fwapslastname" key="bw_lastname" />
      <add name="fwapsaddress1" key="bw_address1" />
      <add name="fwapsaddress2" key="bw_address2" />
      <add name="fwapscity" key="bw_city" />
      <add name="fwapscounty" key="bw_county" />
      <add name="fwapsyear" key="bw_year" />
      <add name="fwapsmake" key="bw_make" />
      <add name="fwapsmodel" key="bw_model" />
      <add name="fwapssubmodel" key="bw_submodel" />
      <add name="fwapsvin" key="bw_vin" />
      <add name="fwapsdob" key="bw_dob" />
    </parameters>
  </extraarguments>
  <forwardparameters cacheTimeList="60" cacheTimeAdvertiser="10">
    <products>
      <add id="300" />
    </products>
  </forwardparameters>
  <MortechHandler Url="https://thirdparty.mortech-inc.com/mpg/servlet/mpgThirdPartyServlet" RequestId="1" TimeCache="15" />
  <LendingQbHandler Url="https://secure.lendersoffice.com/integration/BrokerWeb.aspx" RequestId="1" TimeCache="15" />
  <MortgageHandler PropertyType="0" LoanToValue="0.75" LoanAmount="165000" Points="2" TimeCache="15" />
  <mortgageParameters>
    <codes>
      <add name="quicken" advertiserid="2013" parameters="leadSource=1000" />
      <add name="bancorp" advertiserid="2105" parameters="leadSource=1000" />
      <add name="aurorabank" advertiserid="2152" parameters="leadSource=1000" />
      <add name="internetbank" advertiserid="2173" parameters="leadSource=1000" />
      <add name="americash" advertiserid="2260" parameters="leadSource=1003" />
      <add name="stonegates" advertiserid="2256" parameters="leadSource=1043" />
    </codes>
  </mortgageParameters>
  <icp cacheTimeCompanies="10" />
  <adsuppression cacheTimeMapping="60" />
</configuration>