<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" safemode="true"/>
		<requiredRuntime version="v2.0.50727" safemode="true"/>
	</startup>
	<appSettings>
		<configurationvars>
			<add name="iis_root_path"     value="c:\target" />
			<add name="final_config_path" value="c:\svn\sysadmin\trunk\scripts\web-deployment\finalConfigurations" />
			<add name="admin_server"      value="cpadmin-haf" />
			<add name="svn_path"          value="C:\svn" />
			<webapps>
				<!-- SEARCH PATHS -->
				<add name="search" 
					specific_conf="true"
					svn_path="\bw_in_velocity\Search\_PublishedWebsites\App.Web"
					dest_path="\bw\Search" />

				<!-- SEARCHAPI PATHS -->
				<add name="searchapi" 
					specific_conf="true"
					svn_path="\bw_in_velocity\Search Api"
					dest_path="\bw\Search Api" />

				<!-- VANTAGEAPI PATHS -->
				<add name="vantageapi" 
					specific_conf="false"
					svn_path="\bw_in_velocity\VantageApi"
					dest_path="\VantageApi" />
			</webapps>
		</configurationvars>
		<environments>
			<environment name="haf1" preffix="cpweb-" suffix="-haf1">
				<webserver name="a01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="a02">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="b01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="b02">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
			</environment>
			<environment name="haf2" preffix="cpweb-" suffix="-haf2">
				<webserver name="a01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="a02">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="b01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="b02">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
			</environment>
			<environment name="stg1" preffix="cpweb-" suffix="-stg1">
				<webserver name="a01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
					<app name="vantageapi">
						<website name="vantageapi1" port="7071" />
						<website name="vantageapi2" port="7072" />
						<website name="vantageapi3" port="7073" />
						<website name="vantageapi4" port="7074" />
					</app>
				</webserver>
				<webserver name="b01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
					<app name="vantageapi">
						<website name="vantageapi1" port="7071" />
						<website name="vantageapi2" port="7072" />
						<website name="vantageapi3" port="7073" />
						<website name="vantageapi4" port="7074" />
					</app>
				</webserver>
			</environment>
			<environment name="physical" preffix="" suffix="">
				<webserver name="a01">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
				<webserver name="a02">
					<app name="search">
						<website name="search1" port="9091" />
						<website name="search2" port="9092" />
						<website name="search3" port="9093" />
						<website name="search4" port="9094" />
					</app>
					<app name="searchapi">
						<website name="searchapi1" port="8081" />
						<website name="searchapi2" port="8082" />
						<website name="searchapi3" port="8083" />
						<website name="searchapi4" port="8084" />
					</app>
				</webserver>
			</environment>
		</environments>

	</appSettings>
</configuration>
